.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-circle {
  border: none;
  padding: 0.8rem;
  margin-inline: 0.4rem;
  border-radius: 50%;
}

.btn-purple {
  background-color: #712b75;
  border: none;
}

.btn-blue {
  background-color: #041c32;
  border: none;
}

.btn-red {
  background-color: #7d1935;
  border: none;
}

.btn {
  margin-top: 0.5rem;
  margin-inline: 0.2rem;
}
